<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        File Metadata Microservice
      </h1>
    </header>

    <main>
      <form id="upload" enctype="multipart/form-data" action="/" method="POST">
        <label for="myFile">Select a file <strong>less than</strong> 100MB:</label>
        <input type="file" id="myFile" name="myFile" />
        <button type="submit">Upload</button>
      </form>
      
      <section class="file-info">
        
      </section>
    </main>
    
<!--     <script>
      document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector('#upload');
        
        form.addEventListener('submit', function(e) {
          e.preventDefault(); // prevent page reload
          
          const file = form.querySelector('[type="file"]').files[0];
          if (!file) return; 

          const fileInfo = document.createElement('div');
          fileInfo.classList.add('output');
          fileInfo.innerHTML = "FILE NAME: <em>" + file.name + "</em><br>FILE SIZE: <em>" + file.size + " bytes</em>.";
          
          form.reset();
          
          const fileOutput = document.querySelector('.file-info');
          fileOutput.innerHTML = ""; // clear out before updating
          fileOutput.appendChild(fileInfo);
        });
      });
    </script> -->
  </body>
</html>